.body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.wrap{
    width: 1170px;
    margin: 0 auto;
}

.button{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.1px;
    color: #fff;
    padding: 15.7px 45.3px 13.2px 44px;
    text-decoration: none;
    background: #6C5CE7;
    border-radius: 999px;
}

.button_m{
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.5px;
    padding: 17.5px 49.5px 16.5px;
}